* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.titulo {
    width: 550px;
    height: 63px;
    margin-top: 20px;
    text-align: center;
}

h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    line-height: 65.63px;
    letter-spacing: -0.4%;
    color: #75B79E;
}

.container-cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.card {
    width: 117px;
    height: 146px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: #A7E9AF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 90px;
    height: 100px;
}

@media (max-width: 600px) {

    .titulo {
        width: 500px;
    }

    .container-cards{
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    .card {
        margin-bottom: 50px;
    }

}